
.vs/LinC/xs/project-cache/Cognizant.Hackathon.Core-Debug.json
.vs/LinC/xs/project-cache/Cognizant.Hackathon.Mobile.Core-Debug.json
.vs/LinC/xs/project-cache/Cognizant.Hackathon.RestClient-Debug.json
.vs/LinC/xs/project-cache/Cognizant.Hackathon.Shared.Mobile.Bootstrap-Debug.json
.vs/LinC/xs/project-cache/Cognizant.Hackathon.Shared.Mobile.Core-Debug.json
.vs/LinC/xs/project-cache/Cognizant.Hackathon.Shared.Mobile.Data-Debug.json
.vs/LinC/xs/project-cache/Cognizant.Hackathon.Shared.Mobile.Helpers-Debug.json
.vs/LinC/xs/project-cache/Cognizant.Hackathon.Shared.Mobile.Models-Debug.json
.vs/LinC/xs/project-cache/Cognizant.Hackathon.Shared.Mobile.Shared-Debug.json
.vs/LinC/xs/project-cache/LinC-Debug.json
.vs/LinC/xs/project-cache/LinC.Android-Debug.json
.vs/LinC/xs/project-cache/LinC.iOS-Debug|iPhoneSimulator.json
Hosts/.DS_Store
Hosts/LinC.Android/.DS_Store
.DS_Store
