<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- GENERAL -->
        <add key="app.name" value="LinC" />
        <add key="app.config" value="pqa" />
        <add key="locale.default" value="en-US" />
         <add key="app.store.ios" value="https://itunes.apple.com/us/app/" />
        <add key="app.store.droid" value="https://play.google.com/store/apps/" />
        <!--REST CLIENT-->
      <add key="api.endpoint" value="https://javaspringapplinccommon.cfapps.io" />
        <add key="api.qaendpoint" value="https://abc.com" />
        <add key="api.pqaendpoint" value="https://abc.com" />
        <add key="api.stagingendpoint" value="https://abc.com" />
        <add key="api.prdendpoint" value="https://abc.com" />
        <add key="api.auth" value="https://abc.com/auth" />
        <add key="api.endpoint.user" value="https://abc.com" />
        <add key="api.qaendpoint.user" value="https://abc.com" />
        <add key="api.pqaendpoint.user" value="https://abc.com" />
        <add key="api.stagingendpoint.user" value="https://abc.com" />
        <add key="api.prdendpoint.user" value="https://abc.com" />
        
        <add key="api.logintype" value="0" />
        <add key="api.timeout" value="120000" />
        <!-- ERROR -->
        <add key="error.enabled" value="true" />
        <add key="error.title" value="Info" />
        <add key="error.description" value="Something went wrong, please try again later." />
        <!--IDENTITY-->
        <!-- <add key="identity.client.id" value="00000000-0000-0000-0000-000000000000" />
    <add key="identity.tenant.id" value="00000000-0000-0000-0000-000000000000" />
    <add key="identity.client.secret" value="" />
    <add key="identity.client.resource" value="00000000-0000-0000-0000-000000000000" />
    <add key="identity.scope" value="Group.Read.All offline_access openid profile User.Read" />-->
  </appSettings>
</configuration>
<!-- Pages

1. RegistrationPage
2. ProductsPage
3. ProductDetailsPage
4. 

ViewModel
1. RegistrationPageViewModel
2. ProductsPageViewModel
3. ProductDetailsPageViewModel
4. 
-->